<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="我自己的接口测试套件">
    <test name="这些是测试模块">
        <classes>
            <class name="com.tester.extend.demo.TestMethodsDemo">
                <methods>
                    <include name="test_1" description="测试一下"/>
                    <include name="test_2"/>
                    <include name="test_3"/>
                    <include name="logDemo"/>
                </methods>
            </class>
        </classes>
    </test>

    <listeners>
        <!--listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/-->
        <listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>